*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family:'IBM Plex Serif';;
}
:root{
    --blue:#1064E5;
    --lightblue:#D8F1F0;
    --ligtherb:#DEEEFC;
}


.main_part{
    width: 100%;
    height: 100vh;
    background-image: url(photos/box.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    
}
.navbar_logo img{
    width: 130.22px;
    height: 40px;
}
.navbar_menu{
    width: 800px;
}
.menu_ul_number{
    display: relative;
    overflow: hidden;
}
.navbar_menu .dropdown_1{
    background-color: #fff;
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    
}
.menu_ul li{
 
}
.menu_ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    font-weight: 500;
}
.menu_ul .menu_ul_number{

}
.menu_ul .dropdown_1{
    /* background: var(--ligtherb); */
   
}
.menu_ul_around a{
    padding: 8px 26px;
    border: 2px solid var(--blue);
    border-radius: 45px;
}
.menu_ul_back a{
    background: var(--blue);
    border-radius: 45px;
    padding: 10px 26px;
    color: #fff;
}

.main_part_text .main_text_bold{
    font-size: 24px;
    color: rgba(6, 18, 36, 0.9);
    margin-right: 16px;

}
.span{
    font-size: 18px;
    color: #061224;
    opacity: 0.6;
    margin-right: 16px;
}
.main_part_text p{
    width: 460px;
    margin: 12px 0;
}
.main_part_text a{
    display: inline-block;
    background: var(--blue);
    border-radius: 45px;
    font-size: 16px;
    padding: 18px 32px;
    color: #fff;
    margin-top: 31px;
}

/*second part*/
.second_part{
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.second_part .second_part_box{
    display: flex;
   
}
.second_part .second_img{
    margin-right: 15px;
}
.second_part .second_text h4{
    font-size: 24px;
    margin: 5px 0;
}


/*third*/
.third_part{
    width: 100%;
    background: var(--lightblue);
    overflow: hidden;
}
.third_part_box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.third_part .third_text{
    margin:0 20px;
}
.third_part h3{
    font-size: 40px;
}
.third_part p{
    font-size: 18px;
    line-height: 28px;
    width: 512px;
    margin: 10px 0;
}
.special_a{
    border-radius: 46px;
    padding: 20px 50px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
    display: inline-block;
}
.special_a:hover{
    border: 1px solid var(--blue);
    background-color: #fff;
    color: var(--blue);
    transition: 1s;
}
.third_part .third_a1{
    border: 2px solid var(--blue);
}
.third_part .third_a2{
    background: var(--blue);
    color: #fff;
}


/* fourth part */

.fourth_part{
    width: 100%;
    padding: 52px 152px;
}
.fourth_part h1{
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}
.fourth_part_boxes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}
.fourth_part_boxes .fourth_box{
    width: 256px;
    height: 320px;
    background: var(--ligtherb);
    padding: 32px;
    border-radius: 4px;
    margin: 20px 0;
}
.fourth_box h4, .fourth_box p{
    margin-bottom: 35px;
}
.fourth_box h4{
    font-size: 28px;
    line-height: 40px;
    font-weight: normal;
}
.fourth_box .fourth_little_p{
    font-size: 16px;
}
.fourth_box .bold_span{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    margin-right: 5px;
}
.fourth_box a{
    background: var(--blue);
    color: #fff;
    border-radius: 100px;
    font-size: 12px;
    padding: 11px 16px;
    text-transform: uppercase;
}
/* fifth part */
.fifth_part{
    padding: 43px 0;
    background-color: var(--lightblue);
    text-align: center;
}
.fifth_text{
    text-align: center;
    margin: 0 auto;
    font-style: normal;
    font-weight: 500;
}

/* sixth part */
.sixth_part{
    width: 100%;
    padding-bottom: 40px;

}
.sixth_flexbox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sixth_part img{
    margin: 30px 0;
}

/* seventh part */
.seventh_part{
    width: 100%;
    background-color: var(--lightblue);
    padding-bottom: 44px;
}
.special_h2{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin: 38px 0;

}
.seventh_text p:first-child{
    font-weight: 500;
    font-size: 14px;
    font-weight: 500;
}
.seventh_text p:not(:first-child){
    font-size: 24px;
    width: 260px;
    font-weight: 600;
    margin: 6px 0;
}
.seventh_flexbox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    display: relative;
}
/* .seventh_img img{
    -webkit-filter: 
     filter: blur(5px);
}
.seventh_img::after {
    content: "";
    width: 374px;
    height: 395px;
    background: linear-gradient(293.97deg, #FFFFFF -9.96%, rgba(255, 255, 255, 0) 111.88%);
    display: absolute;
    z-index: 2;
} */


/* eighth_part */
.eighth_part{
    width: 100%;
}
.eighth_img{
    margin: 10px auto;
    display: flex;
    justify-content: center;
    
    position: relative;
    z-index: 0;
}
.ovarlay{
    width: 102px;
    position: absolute;
    top: 45%;
    left: auto;
    z-index: 10;
    opacity: 1;
}

/* ninth_part */
.ninth_part{
    width: 100%;
    background-color: var(--ligtherb);
    padding-top: 30px!important;
    padding-bottom: 30px;
}

/* tenth part */
.tenth_part{
    width: 100%;
    padding-bottom: 90px;
    text-align: center;
}
.tenth_part p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 30px;
}
.tenth_input{
    margin: 0 auto;
    text-align: center;
}
.tenth_part .tenth_input input{
    height: 50px;
    border-radius: 37px;

}
.tenth_input input:first-child{
    width: 400px;
    margin-right: 15px;
    border: 2px solid var(--blue);
    margin-bottom: 20px;
}
.tenth_input input:not(:first-child){
    width: 178px;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: #fff;
    text-transform: uppercase;
}


/* footer */
.footer{
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.footer_first_part div, .footer_second_part div{
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.footer_first_part div p:last-child{
    opacity: 0.6;
}
.footer_second_part .second_2 p{
    opacity: 0.8;
}


@media screen and (min-width:1024px){
    .padding_rl{
        padding: 55px 104px;
    }
    .nav_burger_menu{
        display: none;
     }
     .main_part_text{
        width: 750px;
    }
    .main_part_text h1{
        font-size: 40px;
    }

    .second_part .second_part_box{
        width: 225px;
        margin: 0 40px;
    }
    .fifth_text{
        width: 470px;
    }
    .fifth_text h2{
        font-size: 73px;
        font-style: normal;
        font-weight: 500;
    }
    .fifth_text h4{
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
    }
    .fifth_text p{
        font-size: 18px;
    }

    .ninth_part .questions{
        width: 530px;
        margin: 0 auto;
    }
    .questions p{
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 18px;

    }
    .questions .plus_icon{
        color: var(--blue);
        margin-right: 8px;
        font-weight: bold;

    }
    .footer_first_part, .footer_second_part{
        display: flex;
        width: 500px;
        justify-content: space-between;
    }
    .footer_arrow{
        display: none;
    }



}



@media screen and (min-width:768px) and (max-width:1023px){
    .padding_rl{
        padding: 35px 50px;
    }
    .special_h2{
        font-size: 36px;
    }
    .navbar_menu{
        display: none;
     }
     .nav_burger_menu{
        display: block;
     }
     .main_part_text{
        width: 500px;
    }
    .main_part_text h1{
        font-size: 36px;
    }
    
    .second_part .second_text{
        width: 155px;
        margin: 0 20px;
    }
    .third_part .third_text{
        margin: 15px 0;
    }
    .third_part .third_img img{
        width: 497.98px;
        height: 282.73px;
    }
    .third_part .third_img2{
        margin-left: -230px;
    }

    .fifth_text{
        width: 423px;
    }
    .fifth_text h2{
        font-size: 56px;
        font-style: normal;
        font-weight: 500;
    }
    .fifth_text h4{
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
    }
    .fifth_text p{
        font-size: 18px;
    
    }

    .seventh_flexbox .seventh_box:first-child{
        display: none;
    }
    .seventh_flexbox{
        justify-content: center;
    }

    .eighth_cmptr{
        width: 100%;
    }
    .ninth_part .questions{
        width: 530px;
        margin: 0 auto;
    }
    .questions p{
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 18px;

    }
    .questions .plus_icon{
        color: var(--blue);
        margin-right: 8px;
        font-weight: bold;

    }
    .footer_first_part, .footer_second_part{
        flex-direction: column;
    }



}


@media screen and (max-width:767px){
    .padding_rl{
        padding: 25px 20px;
    }
    .special_h2{
        font-size: 20px;
    }
     .navbar_menu{
        display: none;
     }
     .nav_burger_menu{
        display: block;
     }
     .main_part_text{
        width: 260px;
    }
    .main_part_text h1{
        font-size: 25px;
    }

    .second_part{
        display: block;
    }
    .second_part_box{
        margin: 30px 0;
    }
    .third_part_box{
        margin: 50px 0 ;
        flex-direction: column;
    }
    .third_part .third_img img{
        width: 100%;
        margin: 40px 0;
    }
    .flex_reverse{
        flex-direction: column-reverse;
    }
    
    .fourth_part .fourth_box{
        width: 100%;
    }
    .fifth_text{
        width: 280px;
    }
    .fifth_text h2{
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
    }
    .fifth_text h4{
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
    }
    .fifth_text p{
        font-size: 18px;
    
    }
    .sixth_part img{
        width: 160px;
    }
    .seventh_flexbox .seventh_box:first-child{
        display: none;
    }
    .seventh_flexbox{
        display: block;
    }
    .seventh_img img{
        width: 100%;
    }
    .eighth_cmptr{
        width: 100%;
    }
    .ovarlay{
        width: 54px;
    }
    .ninth_part .questions{
        width: 100%;

    }
    .questions p{
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 18px;

    }
    .questions .plus_icon{
        color: var(--blue);
        margin-right: 8px;
        font-weight: bold;

    }

    

}